@import "tailwindcss";

/* root styling______________________________________ */
:root {
    --background-color: #202020;
    --light-background: #303030;
}

/* universal styles_________________________________ */

* {
    line-height: 180%;
}



/* font families_____________________________________ */
@font-face {
    font-family: 'funnel-sans';
    src: url('./assets/fonts/Funnel_Sans/FunnelSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alumni-sans';
    src: url('./assets/fonts/Alumni_Sans_Pinstripe/AlumniSansPinstripe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.Alumni-sans {
    font-family: 'Alumni-sans';
}

.funnel-sans {
    font-family: 'funnel-sans';
}

/* editor content styling______________________________ */
.editorContent * {
    outline: none;
}

img {
    margin: auto;
    padding: 10px;
}